

{
  box-sizing: border-box;
}
 /**Class uses a dot prefix in CSS
.wrapper {
  width: 600px;
  padding: 20px;
  margin: 0 auto;
} **/



.container {
    width: 30em;
    border: 1em solid;
}

body {
  font-size: 18px;
  line-height: 32px;
  background-color: #777
   
}

/** ID uses a dot prefix in CSS used with DIV **/
#fixed {
  position: fixed;
  top: 150;
  left: 0;
  padding: 90px;
  margin: 0;
  text-align: center;
  background: #eee;
}

/**
#section {
  position: fixed;
  top: 150;
  left: 0;
  padding: 90px;
  margin: 0;
  text-align: center;
  background: #eee;
    
}
**/
#relative {
  position: relative;
  height: 10px;
  padding: 35px;
  max-width:1200px;
  margin: 50px;
/**  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 150px;
  margin-left: 150px;**/
  text-align: center;
  background: #eee;
}

#section {
  float: left;
  width:320px;
  padding: 25px;
  margin:25px;
  text-align: center;
  background: #eee;
  width: 300px;
}

#aside {
  float: left;
  top: 150;
  left: 300;
  padding: 90px;
  text-align: center;
  background: #eee;
    width: 300px;
    padding: 25px;
    margin: 25px;
}




h1 {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 15px;
}

p {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 28px;
}

/**
#relative {
  position: relative;
  height: 20px;
  padding: 90px;
  margin-bottom: 20px;
  text-align: center;
  background: #eee;
}
**/


#absolute {
  position: absolute;
  right: -30px;
  bottom: 0;
  width: 250px;
  padding: 20px;
  text-align: center;
  background: #999;
}
